<?xml version="1.0" encoding="UTF-8"?>
<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:elec="https://api.iasdirect.com/ElectronicProcessing" xmlns:ias="http://schemas.datacontract.org/2004/07/IAS">
	<soapenv:Header/>
	<soapenv:Body>
		<elec:GenerateElectronicContract>
			<!--Optional:-->
			<elec:request>
				<ias:Authentication>
					<ias:LoginName>{{authentication.loginName}}</ias:LoginName>
					<ias:LoginPassword>{{authentication.loginPassword}}</ias:LoginPassword>
					{{#authentication.userAgent}}
						<ias:UserAgent>{{authentication.userAgent}}</ias:UserAgent>
					{{/authentication.userAgent}}
					{{#authentication.userEmailAddress}}
						<ias:UserEmailAddress>{{authentication.userEmailAddress}}</ias:UserEmailAddress>
					{{/authentication.userEmailAddress}}
					{{#authentication.userId}}
						<ias:UserID>{{authentication.userId}}</ias:UserID>
					{{/authentication.userId}}
					{{#authentication.userIPAddress}}
						<ias:UserIPAddress>{{authentication.userIPAddress}}</ias:UserIPAddress>
					{{/authentication.userIPAddress}}
				</ias:Authentication>
				<ias:CustomerInfo>
					<!--Optional:-->
					{{#customerInfo.apr}}
						<ias:APR>{{customerInfo.apr}}</ias:APR>
					{{/customerInfo.apr}}
					<!--Optional:-->
					{{#customerInfo.additionalPayee}}
						<ias:AdditionalPayee>{{customerInfo.additionalPayee}}</ias:AdditionalPayee>
					{{/customerInfo.additionalPayee}}
					<!--Optional:-->
					{{#customerInfo.aftermarketHardwareInstallationDate}}
						<ias:AftermarketHardwareInstallationDate>{{customerInfo.aftermarketHardwareInstallationDate}}</ias:AftermarketHardwareInstallationDate>
					{{/customerInfo.aftermarketHardwareInstallationDate}}
					<!--Optional:-->
					{{#customerInfo.aftermarketHardwareRetailPrice}}
						<ias:AftermarketHardwareRetailPrice>{{customerInfo.aftermarketHardwareRetailPrice}}</ias:AftermarketHardwareRetailPrice>
					{{/customerInfo.aftermarketHardwareRetailPrice}}
					<!--Optional:-->
					{{#customerInfo.aftermarketHardwareSerialNumber}}
						<ias:AftermarketHardwareSerialNumber>{{customerInfo.aftermarketHardwareSerialNumber}}</ias:AftermarketHardwareSerialNumber>
					{{/customerInfo.aftermarketHardwareSerialNumber}}
					<!--Optional:-->
					<ias:AmountFinanced>{{customerInfo.amountFinanced}}</ias:AmountFinanced>
					<!--Optional:-->
					{{#customerInfo.balloonAmountOrResidualValue}}
						<ias:BalloonAmountOrResidualValue>{{customerInfo.balloonAmountOrResidualValue}}</ias:BalloonAmountOrResidualValue>
					{{/customerInfo.balloonAmountOrResidualValue}}
					<ias:BuyerDescriptor>
						<!--Optional:-->
						<ias:CellPhone>{{customerInfo.buyerDescriptor.cellPhone}}</ias:CellPhone>
						<!--Optional:-->
						<ias:City>{{customerInfo.buyerDescriptor.city}}</ias:City>
						<!--Optional:-->
						<ias:EmailAddress>{{customerInfo.buyerDescriptor.emailAddress}}</ias:EmailAddress>
						<!--Optional:-->
						<ias:FirstName>{{customerInfo.buyerDescriptor.firstName}}</ias:FirstName>
						<!--Optional:-->
						<ias:Initial>{{customerInfo.buyerDescriptor.initial}}</ias:Initial>
						<!--Optional:-->
						<ias:LastName>{{customerInfo.buyerDescriptor.lastName}}</ias:LastName>
						<!--Optional:-->
						<ias:Phone>{{customerInfo.buyerDescriptor.phone}}</ias:Phone>
						<!--Optional:-->
						<ias:State>{{customerInfo.buyerDescriptor.state}}</ias:State>
						<!--Optional:-->
						<ias:Street>{{customerInfo.buyerDescriptor.street}}</ias:Street>
						<!--Optional:-->
						<ias:Zip>{{customerInfo.buyerDescriptor.zip}}</ias:Zip>
					</ias:BuyerDescriptor>
					<!--Optional:-->
					<ias:CoBuyerDescriptor>
						<!--Optional:-->
						<ias:CellPhone>{{customerInfo.coBuyerDescriptor.cellPhone}}</ias:CellPhone>
						<!--Optional:-->
						<ias:City>{{customerInfo.coBuyerDescriptor.city}}</ias:City>
						<!--Optional:-->
						<ias:EmailAddress>{{customerInfo.coBuyerDescriptor.emailAddress}}</ias:EmailAddress>
						<!--Optional:-->
						<ias:FirstName>{{customerInfo.coBuyerDescriptor.firstName}}</ias:FirstName>
						<!--Optional:-->
						<ias:Initial>{{customerInfo.coBuyerDescriptor.initial}}</ias:Initial>
						<!--Optional:-->
						<ias:LastName>{{customerInfo.coBuyerDescriptor.lastName}}</ias:LastName>
						<!--Optional:-->
						<ias:Phone>{{customerInfo.coBuyerDescriptor.phone}}</ias:Phone>
						<!--Optional:-->
						<ias:State>{{customerInfo.coBuyerDescriptor.state}}</ias:State>
						<!--Optional:-->
						<ias:Street>{{customerInfo.coBuyerDescriptor.street}}</ias:Street>
						<!--Optional:-->
						<ias:Zip>{{customerInfo.coBuyerDescriptor.zip}}</ias:Zip>
					</ias:CoBuyerDescriptor>
					<ias:ContractDate>{{customerInfo.contractDate}}</ias:ContractDate>
					<!--Optional:-->
					<ias:DealNumber>{{customerInfo.dealNumber}}</ias:DealNumber>
					<!--Optional:-->
					{{#customerInfo.etchNumber}}
					<ias:EtchNumber>{{customerInfo.etchNumber}}</ias:EtchNumber>
					{{/customerInfo.etchNumber}}
					<!--Optional:-->
					<ias:FirstPaymentDate>{{customerInfo.firstPaymentDate}}</ias:FirstPaymentDate>
					<!--Optional:-->
					<ias:LenderDescriptor>
						<!--Optional:-->
						<ias:City>{{customerInfo.lenderDescriptor.city}}</ias:City>
						<!--Optional:-->
						<ias:Name>{{customerInfo.lenderDescriptor.name}}</ias:Name>
						<!--Optional:-->
						<ias:Phone>{{customerInfo.lenderDescriptor.phone}}</ias:Phone>
						<!--Optional:-->
						<ias:State>{{customerInfo.lenderDescriptor.state}}</ias:State>
						<!--Optional:-->
						<ias:Street>{{customerInfo.lenderDescriptor.street}}</ias:Street>
						<!--Optional:-->
						<ias:Zip>{{customerInfo.lenderDescriptor.zip}}</ias:Zip>
					</ias:LenderDescriptor>
					<!--Optional:-->
					{{#customerInfo.licensedSalesperson}}
					<ias:LicensedSalesperson>{{customerInfo.licensedSalesperson}}</ias:LicensedSalesperson>
					{{/customerInfo.licensedSalesperson}}
					<!--Optional:-->
					{{#customerInfo.maintenanceKitShipmentType}}
					<ias:MaintenanceKitShipmentType>{{customerInfo.maintenanceKitShipmentType}}</ias:MaintenanceKitShipmentType>
					{{/customerInfo.maintenanceKitShipmentType}}
					<!--Optional:-->
					{{#customerInfo.monthlyPayment}}
					<ias:MonthlyPayment>{{customerInfo.monthlyPayment}}</ias:MonthlyPayment>
					{{/customerInfo.monthlyPayment}}
					<!--Optional:-->
					{{#customerInfo.systemModelNumber}}
					<ias:SystemModelNumber>{{customerInfo.systemModelNumber}}</ias:SystemModelNumber>
					{{/customerInfo.systemModelNumber}}
					<!--Optional:-->
					{{#customerInfo.termInMonths}}
					<ias:TermInMonths>{{customerInfo.termInMonths}}</ias:TermInMonths>
					{{/customerInfo.termInMonths}}
					<!--Optional:-->
					{{#customerInfo.totalOfPayments}}
					<ias:TotalOfPayments>{{customerInfo.totalOfPayments}}</ias:TotalOfPayments>
					{{/customerInfo.totalOfPayments}}
					<!--Optional:-->
					{{#customerInfo.vscCompany}}
					<ias:VSCCompany>{{customerInfo.vscCompany}}</ias:VSCCompany>
					{{/customerInfo.vscCompany}}
					<!--Optional:-->
					{{#customerInfo.vscNumber}}
					<ias:VSCNumber>{{customerInfo.vscNumber}}</ias:VSCNumber>
					{{/customerInfo.vscNumber}}
					<!--Optional:-->
					{{#customerInfo.vscTermMiles}}
					<ias:VSCTermMiles>{{customerInfo.vscTermMiles}}</ias:VSCTermMiles>
					{{/customerInfo.vscTermMiles}}
					<!--Optional:-->
					{{#customerInfo.vscTermMonths}}
					<ias:VSCTermMonths>{{customerInfo.vscTermMonths}}</ias:VSCTermMonths>
					{{/customerInfo.vscTermMonths}}
					<!--Optional:-->
					{{#customerInfo.vehicleLoanType}}
					<ias:VehicleLoanType>{{customerInfo.vehicleLoanType}}</ias:VehicleLoanType>
					{{/customerInfo.vehicleLoanType}}
					<!--Optional:-->
					{{#customerInfo.vehiclePurchaseType}}
					<ias:VehiclePurchaseType>{{customerInfo.vehiclePurchaseType}}</ias:VehiclePurchaseType>
					{{/customerInfo.vehiclePurchaseType}}
				</ias:CustomerInfo>
				<!--Optional:-->
				<ias:DealerID>{{dealerId}}</ias:DealerID>
				<!--Optional:-->
				{{#masterDealerId}}
				<ias:MasterDealerID>{{masterDealerId}}</ias:MasterDealerID>
				{{/masterDealerId}}
				<ias:PurchasedPlans>
					<!--Zero or more repetitions:-->
					{{#purchasedPlans}}
						<ias:IElectronicProcessing.PurchasedPlanType>
							<!--Optional:-->
							{{#fiCodeNumber}}
							<ias:FICodeNumber>{{fiCodeNumber}}</ias:FICodeNumber>
							{{/fiCodeNumber}}
							<ias:Form>{{form}}</ias:Form>
							<!--Optional:-->
							<!-- <ias:FormRevisionDate>{{formRevisionDate}}</ias:FormRevisionDate> -->
							<ias:IsZeroPaymentPlan>{{isZeroPaymentPlan}}</ias:IsZeroPaymentPlan>
							<ias:PlanID>{{planId}}</ias:PlanID>
							<ias:RetailPrice>{{retailPrice}}</ias:RetailPrice>
							<!--Optional:-->
							{{#term}}
							<ias:Term>{{term}}</ias:Term>
							{{/term}}
						</ias:IElectronicProcessing.PurchasedPlanType>
					{{/purchasedPlans}}
				</ias:PurchasedPlans>
				<ias:VehicleInfo>
					<ias:AgeType>{{vehicleInfo.ageType}}</ias:AgeType>
					<ias:ChromeStyleID>{{vehicleInfo.chromeStyleId}}</ias:ChromeStyleID>
					<ias:HasChromeWheels>{{vehicleInfo.hasChromeWheels}}</ias:HasChromeWheels>
					<ias:HasDealerUpgradedWheelsTires>{{vehicleInfo.hasDealerUpgradedWheelsTires}}</ias:HasDealerUpgradedWheelsTires>
					<ias:HasRunFlatTires>{{vehicleInfo.hasRunFlatTires}}</ias:HasRunFlatTires>
					{{#vehicleInfo.inServiceDate}}
					<ias:InServiceDate>{{vehicleInfo.inServiceDate}}</ias:InServiceDate>
					{{/vehicleInfo.inServiceDate}}
					<ias:MSRP>{{vehicleInfo.msrp}}</ias:MSRP>
					<ias:Make>{{vehicleInfo.make}}</ias:Make>
					<ias:Mileage>{{vehicleInfo.mileage}}</ias:Mileage>
					<ias:Model>{{vehicleInfo.model}}</ias:Model>
					{{#vehicleInfo.nadaRetail}}
					<ias:NADARetail>{{vehicleInfo.nadaRetail}}</ias:NADARetail>
					{{/vehicleInfo.nadaRetail}}
					<ias:PurchasePrice>{{vehicleInfo.purchasePrice}}</ias:PurchasePrice>
					<ias:TrimLevel>{{vehicleInfo.trimLevel}}</ias:TrimLevel>
					<ias:UsageType>{{vehicleInfo.usageType}}</ias:UsageType>
					<ias:VIN>{{vehicleInfo.vin}}</ias:VIN>
					<ias:Year>{{vehicleInfo.year}}</ias:Year>
				</ias:VehicleInfo>
			</elec:request>
		</elec:GenerateElectronicContract>
	</soapenv:Body>
</soapenv:Envelope>